/*#header-jumbotron {
        background-image: url("../images/sexual-assault-awareness.jpg");
        background-size: cover;
        background-position: 0 0;
}*/

#fullpage {
    padding-top: 80px;
}

.navbar {
    z-index: 10000;
}

/*
body {
  font-family: 'Lato', sans-serif;
  background-color: #D0C6B2;
}

h1 {
  color: #865F3C;
  margin-top: 40px;
  font-weight: 300;
}

h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
  color: #906666;
}
*/

/*************/
/*    FORM   */
/*************/

/*
.form-inline {
  margin-bottom: 30px;
}

.form-control {
  background: #E2DDD1;
  border: 1px solid #D49999;
  width: 250px;
}

.form-group label {
  font-weight: 400;
  margin-right: 10px;
}

.form-inline button, .btn-link:active {
  border-left: 1px solid #888;
  margin-left: 15px;
  padding-left: 15px;
  color: #333;
  cursor: pointer;
  outline: none;
}
.form-inline button:hover, .btn-link:active, .btn-link:focus  {
  border-left: 1px solid #888;
  color: #8E7060;
  text-decoration: none;
  outline: none;
}
.form-inline button .glyphicon {
  margin-right: 5px;
}
*/

/***************/
/*  BAR CHART  */
/***************/

.bar {
  fill: orange;
}

.axis {
  font: 10px sans-serif;
  fill: #333;
}

.axis-title {
  fill: #9C8B83;
  font-size: 11px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x-axis {
  font-size: 12px;
}

.x-axis path {
  display: none;
}

path {
  stroke: steelblue;
  stroke-width: 3;
  fill: none;
}
