/*#header-jumbotron {
        background-image: url("../images/sexual-assault-awareness.jpg");
        background-size: cover;
        background-position: 0 0;
}*/
#american-bg {
  width: 500px;
}

#american-scene {
  position: relative;
  margin: auto;
}

#american-woman {
  position: absolute;
  top: 180px;
  /*left: 250px;*/
  left: 0;
  width: 75px;

  opacity: 0;
}

#cover-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#fact{
  font-size: 20px;
}

#fullpage {
  padding-top: 80px;
}

#quotes {
  font-size: 20px;
}

#section-intro {
  background-image: url(../images/harvard-night-2-dulled.jpg);
  background-size: cover;
  padding: 0;
}

.navbar {
  z-index: 10000;
}

.mega-header {
  font-size: 80px !important;
}

#party-scene {
    /* TODO: factor out to .scene */
    position: relative;
    margin: auto;
}

#party-bg {
    width: 500px;
}

#party-woman {
    position: absolute;
    top: 50px;
    /*left: 200px;*/
    left: 0;
    width: 150px;
    opacity: 0;
}

/*************/


/*    FORM   */


/*************/


/*
.form-inline {
  margin-bottom: 30px;
}

.form-control {
  background: #E2DDD1;
  border: 1px solid #D49999;
  width: 250px;
}

.form-group label {
  font-weight: 400;
  margin-right: 10px;
}

.form-inline button, .btn-link:active {
  border-left: 1px solid #888;
  margin-left: 15px;
  padding-left: 15px;
  color: #333;
  cursor: pointer;
  outline: none;
}
.form-inline button:hover, .btn-link:active, .btn-link:focus  {
  border-left: 1px solid #888;
  color: #8E7060;
  text-decoration: none;
  outline: none;
}
.form-inline button .glyphicon {
  margin-right: 5px;
}
*/


/***************/


/*  BAR CHART  */


/***************/

.bar {
  fill: #c8c8c8;
}

.bar:hover {
  fill: steelblue;
}

.bar.sexual_assault {
  fill: firebrick;
}

.axis {
  font: 10px sans-serif;
  fill: #c8c8c8;
}

.axis-title {
  fill: #c8c8c8;
  font-size: 11px;
}

.axis path, .axis line {
  fill: none;
  stroke: #c8c8c8;
  shape-rendering: crispEdges;
}

.x-axis {
  font-size: 12px;
}


/*
.x-axis path {
  display: none;
}*/

path.line {
  stroke: #c8c8c8;
  stroke-width: 4;
  fill: none;
}

path.line.Sexual_assault, path.line.rape_sexual_assault {
  stroke: firebrick;
}

path.line:hover {
  stroke: steelblue;
}

path.line.Rape {
  stroke: red;
}

#text {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}


/* ARREST WHEEL */


/* Colors from http://codepen.io/zadvorsky/pen/xzhBw */

.slice {
  stroke: #DB9E36;
  /*stroke-width: 2px;*/
}

.pointer {
  fill: #401911;
  stroke: #401911;
}

.slice.win {
  fill: #BD4932;
}

.slice.lose {
  fill: #FFFAD5;
}

.ring {
  fill: none;
  stroke: #DB9E36;
  stroke-width: 10px;
}

.wheel-button {
  fill: #401911;
  cursor: pointer;
}

.wheel-holder {
  cursor: pointer;
}

/* map */

.map-state {
    fill: #AAA;
    stroke: white;
}

.map-college-dot {
    stroke: black;
    opacity: 0.6;
    fill: red;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #777 transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #777 !important;
}

.row.padded {
  padding-left: 50px;
  padding-right: 50px;
}



/* FULLPAGE */

#fp-nav ul li a span {
  background: whitesmoke;
}




#prevention {
  font-size: 25px;
}

#link {
  font-weight: bold;
}

#question {
  font-weight: bold;
}

.quiz-reason {
    text-align: right;
}



/* brush */
.brush {
	fill: #eee;
	fill-opacity: .5;
	pointer-events: none;
}
